* {
    margin: 1px;
    font-family: Consolas;
    color: #eeeeee;
    background-color: #222831;
}
@font-face {
    font-family: Consolas;
    src: url(../fonts/CONSOLA.TTF);
}
@font-face {
    font-family: Consolas;
    src: url(../fonts/CONSOLAB.TTF);
    font-weight: bold;
}


.titulo {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    padding: 10px;
    color: black;
}
.logo {
    width: 103px;
    height: 103px;
    padding-left: 80px;
}
#mtit {
    background-color: #222831;
    border: 1px solid #d65a31;
}


.conteudo {
    display: inline-block;
    vertical-align: top;
}
.sabores {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #393e46;
    font-size: 1.5em;
    padding: 10px;
}
.scrollsab {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #393e46;
    padding: 50px;
    height: 364px;
    width: 350px;
    overflow: auto;
}
#pimg {
    border: 1px solid #d65a31;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#pnm {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}