* {
    margin: 1px;
    font-family: Consolas;
    color: #eeeeee;
    background-color: #222831;
}
@font-face {
    font-family: Consolas;
    src: url(../fonts/CONSOLA.TTF);
}
@font-face {
    font-family: Consolas;
    src: url(../fonts/CONSOLAB.TTF);
    font-weight: bold;
}


.titulo {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    font-weight: b;
    padding: 10px;
    color: black;
}
.logo {
    width: 103px;
    height: 103px;
    padding-left: 80px;
}
#mtit {
    background-color: #222831;
    border: 1px solid #d65a31;
}


.conteudo {
    display: inline-block;
    vertical-align: top;
}
.scrollsab {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #393e46;
    padding: 50px;
    height: 598px;
    width: 280px;
    overflow: auto;
}
#pimg {
    border: 1px solid #d65a31;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#pnm {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}

.sabores {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #393e46;
    font-size: 1.5em;
    padding: 10px;
}
th, td {
    padding: 10px;
}

.conteudoTamanho {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #393e46;
    padding: 10px;
    height: 678px;
    width: 488px;
}
button:hover,
button.active {
    background-color: #d65a31;
}
.butaoMedio {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    padding: 10px;
    min-width: 100px;
    margin-left: 19%;
    cursor: pointer;
    transition: 0.5s;
}
.butaoGrande {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
    transition: 0.3s;
}
.conteudoSele {
    display: none;
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    text-align: center;
    padding: 10px;
}
.selectSabor {
    display: inline-block;
    vertical-align: middle;
}

.calculoPreço {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    padding: 10px;
    min-width: 100px;
    text-align: center;
}
.butaoCalculo {
    border: 1px solid #d65a31;
    border-radius: 8px;
    background-color: #222831;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
    transition: 0.5s;
}


